.lf{
    width: 100%;
    background-color:black;
    overflow: hidden;
}
.one{
    width: 25%;
    text-align: center;
    font-size: 40px;
    float: left;
    color:yellow;
    margin: .2rem 0;
}
.yc{
    font-size: .3rem;
    padding: .1rem 0;
}
.img1{
    animation: 1s slideInLeft ;
}